<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>  
    <mailSettings>  
      <smtp deliveryMethod="SpecifiedPickupDirectory" deliveryFormat="International" from="duy@hbd.com">  
        <specifiedPickupDirectory pickupDirectoryLocation="C:\temp\TestEmail"/>
      </smtp>  
    </mailSettings>  
  </system.net>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
